body{
    position: relative;
}


.banner-top {
    width: 100%;
    height: auto;
    background-image:  url('../img/gradient-white-black-top.svg'); /* Ruta de tu imagen */
    background-size: cover;
    position: relative;
}
.content{
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
.title-home{
    max-height: 10%;
    position: absolute ;
    padding: 2em;
}

.oracle-alura-logo{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2em;

}

.title-text{
    text-align: center;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 7em;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.banner-bottom{
    height: 300px;
    width: auto;
    background-image:  url('../img/gradient-white-black-bottom.svg'); /* Ruta de tu imagen */
    background-size: contain;
    background-repeat: repeat-x; /* Repetir la imagen solo horizontalmente */
    animation: moverBanner 5s linear infinite; /* Duración de la animación y tipo de animación */
}
