body {
    max-width: 640px;

}

#visual-top {
    background-image: url('../img/gradient-white-black-top.svg');

}

#visual-bottom {
    background-image: url('../img/gradient-white-black-bottom.svg');
}

#visual-top,
#visual-bottom {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.content {
    position: relative;
    max-width:100%;
    justify-content: center;
    
    margin: auto;
}

.title-home{
    align-items: end;
}
#Logo-One {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../img/Logo-One.svg");
    background-repeat: no-repeat;
    width: 235px;
    height: auto;
    transform: translate(-10px) scale(0.4);
    
}

.title-text {
    text-align: center;
    padding:26px 0;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 3em;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.home-img{
    display: flex;
    width: 522px;
}